/* GEIST FONT */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

/* TODOS */
* {
  padding: 0px;
  margin: 0px;
}

header {
  /* CORES */
  background-color: #111111;
  color: #d4d4d4;

  /* DISPLAY */
  display: flex;
  justify-content: center;
  align-items: center;

  /* TAMANHO */
  height: 100vh;
}

/* HEADRE TILE */
header .title {
  /* FONT */
  font-size: 35px;
  font-family: "Geist Mono", monospace;
  font-weight: 400;
  font-style: bold;
}
