/* GEIST FONT */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

/* TODOS */
* {
  padding: 0px;
  margin: 0px;
}

body {
  /* COR GERAL */
  background-color: #111111;
}

header {
  /* CORES */
  background-color: #111111;
  color: #d4d4d4;

  /* DISPLAY */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  /* TAMANHO */
  height: 100vh;
}

/* HEADRE TILE */
header .title {
  /* FONT */
  font-size: 35px;
  font-family: "Geist Mono", monospace;
  font-weight: 800;
  font-style: normal;
}
/* --- */

/* MAIN */
#main {
  /* CORES */
  background-color: #111111;
  color: #d4d4d4;

  padding: 30px;

  /* Isso ajuda, mas vai quebrar 
   * alguma hora */


  /* TAMANHO */
  height: auto;
}

/* DOCUMENTO */
#main #document {
  /* FONT */
  font-family: 'Geist Mono', monospace;
  font-weight: 400;
  font-size: 18px;

  /* Teste com disolay */ 
  display: flex;
  flex-direction: column;
  /* gap: 12px; */

  white-space: normal; /* garante comportamento normal */
  padding: 30px;

  /* TAMANHO */
  max-width: 800px;

  /* Tentando centralizar */ 
  margin: auto;
  margin-bottom: 15vh;

  /* BACKGROUND */
  background-color: #151515;
}

/* NUMBERS */
.number {
  color: #6e7177;
}

/* TEXT */
.text {
  color: #ffffff;
}

/* COMMENT */
.comment {
  color: #6e7177;
}

/* CODE */
.code {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin: 5px;
  display: flex;
  gap: 3ch;
}
